.contacts-container {
  background-image: url('https://res.cloudinary.com/dn11uqgux/image/upload/v1633880142/project-setup-test/Untitled_design_6_scq3hl.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .title {
    text-decoration: underline;
  }
}