.interests-container {
  background-image: url('https://res.cloudinary.com/dn11uqgux/image/upload/v1633879744/project-setup-test/Untitled_design_5_km4d9f.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .title {
    text-decoration: underline;
  }
}