.projects-container {
  background-image: url('https://res.cloudinary.com/dn11uqgux/image/upload/v1633879394/project-setup-test/Untitled_design_3_lbroro.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .title {
    text-decoration: underline;
  }
}

