@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;400;600&display=swap');

* {
  font-family: 'Archivo', sans-serif;
}

$light-pink: #f294c0aa;
$highlighted-pink: #f294c0;
$light-blue: #0c70f2aa;
$highlighted-blue: #0c70f2;
$light-green: #52d95baa;
$highlighted-green: #52d95b;
$light-yellow: #f2cb05aa;
$highlighted-yellow: #f2cb05;
$light-orange: #f28f16aa;
$highlighted-orange: #f28f16;